{
  "APP_DEBUG": false,
  "LISTENER": {
    "LISTENER_KEYWORD": "assistant",
    "SAMPLE_RATE": 16000,
    "CHANNELS": 1,
    "CHUNK_DURATION": 3
  },
  "OPENAI": {
    "RESPONSE_MODEL": "gpt-3.5-turbo",
    "REALTIME_MODEL": "gpt-4o",
    "TEMPERATURE": 0.7,
    "TOP_P": 1,
    "MAX_TOKENS": 4000,
    "FREQUENCY_PENALTY": 0,
    "PRESENCE_PENALTY": 0,
    "OPENAI_API_BASE": "###################",
    "OPENAI_API_KEY": "############################################"
  },
  "ONVIF": {
    "ONVIF_USERNAME": "########",
    "ONVIF_PASSWORD": "########",
    "CAMERAS": [
      "192.168.0.20:554/stream1",
      "192.168.0.21:554/stream1",
      "192.168.0.22:554/stream1"
    ]
  },
  "WHISPER": {
    "MODEL_SIZE": "tiny.en",
    "DEVICE": "cpu",
    "COMPUTE_TYPE": "int8"
  }
}